/*fonts*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,800);

/*Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Navigation*/

header {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}

#nav {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
  list-style-type: none;
	margin-top: 1rem;
}

.main-logo {
	width: 4.5rem;
	height: 4.5rem;
}

li a {
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	background-color: #f99d22;
	text-decoration: none;
	border-radius: .4rem;
	margin: 0 .5rem;
	padding: .5rem .75rem;
}

li a:hover {
	color: #fff;
	background-color: #37b2c2;
}

.active a {
	color: #fff;
	background-color: #e45026;
}

/*End Navigation*/

/*Main Content*/

.outer-container {
	background-color: #jjj;
	margin: 0 auto;
	width: 88%;
}

.hero {
	display: flex;
	justify-content: center;
	align-content: center;
	background-image: url("../img/header-bg.svg"); 
	background-size: 6.5rem;
	background-color: gray;
	border-radius: .2rem;
	padding: 5rem 0;
	margin-bottom: 2rem;
}

main {
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.article-head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content {
	padding: 1rem;
	width: 33%;
}

.author {
	font: italic 1rem 'Josefin Sans', sans-serif; 
}

.article-logo {
	display: flex;
	justify-content: center;
	max-height: 5rem;
	margin-bottom: 2.5rem;
}

h1 {
	color: #000;
	font: 4.5rem 'Josefin Slab', serif;
	}

h2 {
	font: 2.25rem 'Josefin Slab', serif;
	padding-bottom: 1rem;
}

p {
	font: 1rem 'Josefin Sans', sans-serif;
	line-height: 1.5rem;
}

/*End Main Content

/*Responsive*/

@media (max-width: 768px) {
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: .5rem 0 0 0;
	}

	#nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	ul {
		width: 100%;
	}

	li {
		width: 100%;
	}

	li a {
		display: block;
		background-color: #b2cfff;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 1.5rem;
		border-radius: 0rem;
		border-bottom: 1px solid white;
		padding: 1rem 0;
		margin: 0;
		text-align: center;
	}

	li a:hover {
		transition: .5s ease;
		background-color: #5e9bff;
	}

	.active a {
		background-color:#04c97a; 
	}

	.active a:hover{
		transition: .5s ease;
		background-color: #019157;
	}

	.outer-container {
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
	}

	.main-content {
		width: 100%;
		border-bottom: 2px solid #4b4e51;
	}

	.hero {
		background-image: none;
		background-color: #4b4e51;
		padding: 3rem 0;
		margin: 0;
		border-radius: 0;
	}

	.main-logo {
		margin: .5rem 0;
		width: 6rem;
		height: 6rem;
	}

	h1 {
	font: 4rem 'Nunito Sans', sans-serif;
	font-weight: 800;
	color: #fff;
	}

	h2 {
		font-family: 'Nunito Sans', sans-serif;
	}

	p {
		font-family: 'Nunito Sans', sans-serif;
	}

	.article-logo {
		margin-bottom: 1rem;
	}

	.author {
	font: italic 1rem 'Nunito Sans', sans-serif; 
}

}