@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.outer-container {
	background-color: #jjj;
	margin: 0 auto;
	width: 80%;
}

/*Navigation*/

.main-nav {
	margin: 2.5em 0;
}

#nav-items {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
  list-style-type: none;
	margin-top: 1em;
}

.nav-inner {
	display: flex;
	justify-content: space-between;
}

.main-logo {
	width: 6em;
	height: 6em;
}

li a {
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	background-color: #f99d22;
	text-decoration: none;
	border-radius: .4em;
	margin-left: 1em;
	padding: .5em .75em;
}

li a:hover {
	color: #fff;
	background-color: #37b2c2;
}

li a:active {
	color: #e45026;
}

/*End Navigation*/

.outer-header {
	display: flex;
	justify-content: center;
	align-content: center;
	background-image: url("../img/header-bg.svg"); 
	background-size: 6.5em;
	background-color: gray;
	padding: 5em 0;
	margin-bottom: 2em;
}

main {
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.article-head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content {
	padding: 1em;
	width: 33%;
}

.author {
	font: italic 1em 'Josefin Sans', sans-serif; 
}

.article-logo {
	display: flex;
	justify-content: center;
	max-height: 5em;
	margin-bottom: 2.5em;
}

h1 {
	color: #000;
	font: 4.5em 'Josefin Slab', serif;
	}

h2 {
	font: 2.25em 'Josefin Slab', serif;
	padding-bottom: 1em;
}

p {
	font: 1em 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}