/*fonts*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);

/*Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Navigation*/

header {
	margin: 2rem 0;
}

#nav-items {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
  list-style-type: none;
	margin-top: 1rem;
}

.header-inner {
	display: flex;
	justify-content: space-between;
}

.main-logo {
	width: 6rem;
	height: 6rem;
}

li a {
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	background-color: #f99d22;
	text-decoration: none;
	border-radius: .4rem;
	margin-left: 1rem;
	padding: .5rem .75rem;
}

li a:hover {
	color: #fff;
	background-color: #37b2c2;
}

.active a {
	color: #fff;
	background-color: #e45026;
}

/*End Navigation*/

/*Main Content*/

.outer-container {
	background-color: #jjj;
	margin: 0 auto;
	width: 88%;
}

.hero {
	display: flex;
	justify-content: center;
	align-content: center;
	background-image: url("../img/header-bg.svg"); 
	background-size: 6.5rem;
	background-color: gray;
	border-radius: .2rem;
	padding: 5rem 0;
	margin-bottom: 2rem;
}

main {
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.article-head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content {
	padding: 1rem;
	width: 33%;
}

.author {
	font: italic 1rem 'Josefin Sans', sans-serif; 
}

.article-logo {
	display: flex;
	justify-content: center;
	max-height: 5rem;
	margin-bottom: 2.5rem;
}

h1 {
	color: #000;
	font: 4.5rem 'Josefin Slab', serif;
	}

h2 {
	font: 2.25rem 'Josefin Slab', serif;
	padding-bottom: 1rem;
}

p {
	font: 1rem 'Josefin Sans', sans-serif;
	line-height: 1.5rem;
}

/*End Main Content*/